<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="author" content="{{ page.author }}" />
		<link rel="alternate" href="/feed.xml" type="application/atom+xml" title="Codegeny posts" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/highlights.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/foundation.css" />
		{% for style in page.styles %}
		<link rel="stylesheet" href="{{ style }}" />
		{% endfor %}
		{% for script in page.scripts %}
		<script src="{{ script }}"></script>
		{% endfor %}
	</head>
	<body>
		<div class="top-bar">
			<div class="top-bar-left">
				<ul class="menu">
					<li><a href="/">codegeny</a></li>
				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="menu">
					<li class="menu-text">This blog is a Work In Progress</li>
				</ul>
			</div>
		</div>
 		<div class="callout large primary">
			<div class="row column text-center">
				<h1>codegeny blog</h1>
			</div>
		</div>
		<div class="row" id="content">
			<div class="medium-8 columns">{{ content }}</div>
			<div class="medium-3 columns" data-sticky-container>
				<div class="sticky" data-sticky data-anchor="content">
					<h4>Tags</h4>
					<ul>
						{% for tag in tags %}
						<li><a href="{{ site.baseurl }}/tags#{{ tag | slugify }}">{{ tag | slugify }}</a></li>
						{% endfor %}
					</ul>
					<h4>Authors</h4>
					<ul>
						<li><a href="#">Xavier</a></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
