---
layout: default
comments: false
---
{% assign author = site.data.authors[page.author] %}
 <section class="post">
	<header class="post-header">
		<span class="post-avatar">{% avatar {{ author.github }} size=48 %}</span>
		<h2 class="post-title">{{ page.title }}</h2>
		<p class="post-meta">
			{{ page.date | date_to_string }} by <a class="post-author" href="{{ site.baseurl }}/authors#{{ page.author | slugify }}">{{ author.name }}</a>
			{% if page.tags != empty %}
				under
				{% for tag in page.tags %}
				<a href="{{ site.baseurl }}/tags#{{ tag | slugify }}" class="post-category">{{ tag }}</a>
				{% endfor %}
			{% endif %}
		</p>
	</header>
	<div class="post-description">{{ content }}</div>
</section> 

{% if page.comments %}
<div class="comments">
	<h1 class="content-subhead">Comments</h1>
	{% include disqus.html %} 
</div>
{% endif %}



