---
layout: default
---
{% assign author = site.data.authors[page.author] %}
 <section class="post">
	<header class="post-header">
		<span class="post-avatar">{% avatar {{ author.github }} size=48 %}</span>
		<h2 class="post-title">{{ page.title }}</h2>
		<p class="post-meta">
			{{ page.date | date_to_string }} by <a class="post-author" href="#">{{ author.name }}</a>
			{% if page.tags != empty %}
				under
				{% for tag in page.tags %}
				<a href="{{ site.baseurl }}/tags#{{ tag | slugify }}" class="post-category">{{ tag }}</a>
				{% endfor %}
			{% endif %}
		</p>
	</header>
	<div class="post-description">
		<p>{{ content }}</p>
	</div>
</section> 
